@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #f2f2f2;

  /*   background-image: linear-gradient(
      305deg,
      rgba(254, 254, 254, 0.02) 0%,
      rgba(254, 254, 254, 0.02) 1%,
      transparent 1%,
      transparent 50%,
      rgba(220, 220, 220, 0.02) 50%,
      rgba(220, 220, 220, 0.02) 64%,
      rgba(249, 249, 249, 0.02) 64%,
      rgba(249, 249, 249, 0.02) 100%
    ),
    linear-gradient(
      38deg,
      rgba(70, 70, 70, 0.02) 0%,
      rgba(70, 70, 70, 0.02) 35%,
      transparent 35%,
      transparent 62%,
      rgba(152, 152, 152, 0.02) 62%,
      rgba(152, 152, 152, 0.02) 74%,
      rgba(99, 99, 99, 0.02) 74%,
      rgba(99, 99, 99, 0.02) 100%
    ),
    linear-gradient(
      337deg,
      rgba(124, 124, 124, 0.02) 0%,
      rgba(124, 124, 124, 0.02) 45%,
      transparent 45%,
      transparent 55%,
      rgba(34, 34, 34, 0.02) 55%,
      rgba(34, 34, 34, 0.02) 72%,
      rgba(189, 189, 189, 0.02) 72%,
      rgba(189, 189, 189, 0.02) 100%
    ),
    linear-gradient(
      92deg,
      rgba(239, 239, 239, 0.02) 0%,
      rgba(239, 239, 239, 0.02) 12%,
      transparent 12%,
      transparent 22%,
      rgba(204, 204, 204, 0.02) 22%,
      rgba(204, 204, 204, 0.02) 51%,
      rgba(70, 70, 70, 0.02) 51%,
      rgba(70, 70, 70, 0.02) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255)); */

  /*   position: absolute;
  width: 100vw;
  height: 100vh; */
}

/* .mainLayout {
  margin-top: 2em;
}
 */

.online i {
  color: #2ecc71;
}
.busy i {
  color: #e74c3c;
}
.idle i {
  color: #f1c40f;
}
.offline i {
  color: #999999;
}
.message-read {
  color: #e8eef1;
}

/*Tooltip-right*/
.sidebar-nav ul li .tooltip {
  display: inline-block;
  position: fixed;
  background-color: #47cf73;
  padding: 6px 6px 6px 8px;
  border-radius: 0px;
  margin-top: 5px;
  left: 52px;
  opacity: 0;
  visibility: hidden;
  font-size: 10px;
  color: black;
}
.sidebar-nav ul li .tooltip:before {
  content: "";
  display: block;
  position: absolute;
  left: -4px;
  top: 8px;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: #47cf73;
}

.sidebar-nav ul li:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/*Tooltip-bottom*/
.icon {
  height: 24px;
  width: 24px;
  position: relative;
  cursor: pointer;
}

.icon:hover .tooltipp {
  display: block;
}

.tooltipp {
  padding: 6px;
  position: absolute;
  width: auto;
  white-space: nowrap;
  word-wrap: no-wrap;
  border-radius: 0px;
  background-color: #47cf73;
  top: 38px;
  left: 50%;
  transform: translate(-50%);
  transform-style: preserve-3d;
  z-index: 200;
  font-size: 11px;

  display: none;
}
.tooltipp:after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  transform-origin: 50% 50%;
  transform: rotate(45deg) translateX(-50%);
  background-color: #47cf73;
  left: 50%;
  top: -1px;
  z-index: 400;
}
.tooltipp:before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  transform-origin: 50% 50%;
  transform: rotate(45deg) translateX(-50%) translateZ(-1px);
  background-color: #47cf73;
  left: 50%;
  top: 0px;
  z-index: -1;
}

.tooltip-bott {
  color: black;
}
